.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

.open{
  display: flex;
}
.close{
  display: none;
}


@media only screen and (max-width: 720px){
  .app{
    padding: 0;
  }
  .open{
    display: none;
  }
  .close{
    display: flex;
  }
}
@media only screen and (max-width: 575px){
  .app{
    height: 100dvh;
  }
}